.cover
{
    background-image:url("cover.jpg");
    background-repeat:no-repeat;
    
}
.cover-t
{
    font-size:200px;
}
.icon
{
    font-size:50px;
}
.power
{
    font-size:75px;
}
.success
{
    font-size:60px;
}
.success-d
{
    font-size:50px;
}
.top-icon
{
    font-size:25px;
}
